body {
    background-color: #E1F0DA;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #99BC85;
    color: #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%; /* Set the width to 50% of the screen */
}

.box {
    box-sizing: border-box;
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.Normal_cam {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#updateImage {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Specific styles for the left box */
.box.left {
    position: relative;
}

/* Specific styles for the right box */
.box.right {
    box-sizing: border-box;
    width: 45%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}
